<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.2.2" targetFramework="net452" />
  <package id="LightInject" version="4.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NLog" version="4.2.1" targetFramework="net452" />
  <package id="RollbarSharp" version="0.1.2.0" targetFramework="net452" />
</packages>